.disabled
{
    pointer-events: none !important;
}



.f3_component, .f3_page-history {
    user-select: none;
}

.f3_component {
    position: absolute;
    z-index: 9999;
    display: none;
    background-color: rgb(64, 64, 64);
    color: rgb(217, 217, 217);
    font-size: 0.75rem;
    line-height: 1.33333;
    inset: 34px auto 0px 35px;
    border-top: 0.0625rem solid rgb(26, 26, 26);
    border-right: 0.0625rem solid rgb(26, 26, 26);
    border-bottom: 0.0625rem solid rgb(26, 26, 26);
}

.f3_trim {
    width: 0.375rem;
    background-color: rgb(77, 77, 77);
}

.f3_sidebar {
    display: flex;
    width: 15.5625rem;
    flex-direction: column;
    border-left: 0.0625rem solid rgb(26, 26, 26);
}

.f3_header {
    display: flex;
    min-height: 2.875rem;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(77, 77, 77);
    border-bottom: 0.0625rem solid rgb(26, 26, 26);
}


.f3_module {
    display: flex;
    width: 40.5rem;
    height: 100%;
    flex-direction: column;
    border-left: 0.0625rem solid rgb(26, 26, 26);
}

.f3_content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgb(64, 64, 64);
    overflow: auto;
    padding: 1rem;
    flex: 1 1 0%;
}

.f3_code{

    background-color: #2b2b2b;
    color: #d9d9d9;
    width: 100%;
    border: 1px solid #5E5E5E;
    padding: 0.5rem;
}

.f3_switch-wrapper {
    display: block;
    margin-bottom: 0px;
    padding-left: 0px;
}


.f3_switch-checkbox{
    display: none;
}

.f3_switch {
    display: flex;
    width: 2.5rem;
    background-color: rgb(43, 43, 43);
    color: rgb(43, 43, 43);
    border-width: 0.0625rem;
    border-style: solid;
    border-color: rgb(33, 33, 33);
    border-image: initial;
    border-radius: 999rem;
}


.f3_switch::before {
    content: "";
    display: block;
    width: 60%;
    padding-top: 60%;
    background-color: rgb(94, 94, 94);
    border-radius: 999rem;
    transition: margin 0.2s ease 0s;
}

.f3_switch-checkbox:checked + .f3_switch {
    background-color: rgb(52, 144, 235);
    border-color: rgb(7, 42, 76);
}

.f3_switch-checkbox:checked + .f3_switch::before {
    background-color: rgb(217, 217, 217);
    margin-left: 40%;
}



.f3_container-flex{
    display: flex;
    gap: 1em;
    padding-top: 0.5em;
}

.f3_hidden{
    display: none!important;
}


.f3_lock {
    display: block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;utf8,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.50001 8.1V6.3C4.50001 3.81472 6.51473 1.8 9.00001 1.8C11.4853 1.8 13.5 3.81472 13.5 6.3V8.1C14.4941 8.1 15.3 8.90589 15.3 9.9V14.4C15.3 15.3941 14.4941 16.2 13.5 16.2H4.50001C3.5059 16.2 2.70001 15.3941 2.70001 14.4V9.9C2.70001 8.90589 3.5059 8.1 4.50001 8.1ZM11.7 6.3V8.1H6.30001V6.3C6.30001 4.80883 7.50884 3.6 9.00001 3.6C10.4912 3.6 11.7 4.80883 11.7 6.3Z" fill="white"/></svg>');
}

.f3_unlock {
    display: block;
    width: 1.5em;
    height: 1.5em;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;utf8,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.00001 1.8C6.51473 1.8 4.50001 3.81472 4.50001 6.3V8.1C3.5059 8.1 2.70001 8.90589 2.70001 9.9V14.4C2.70001 15.3941 3.5059 16.2 4.50001 16.2H13.5C14.4941 16.2 15.3 15.3941 15.3 14.4V9.9C15.3 8.90589 14.4941 8.1 13.5 8.1H6.30001V6.3C6.30001 4.80883 7.50884 3.6 9.00001 3.6C10.2569 3.6 11.3152 4.45961 11.615 5.62433C11.7389 6.1057 12.2296 6.39549 12.7109 6.27159C13.1923 6.1477 13.4821 5.65703 13.3582 5.17567C12.8587 3.23498 11.0981 1.8 9.00001 1.8Z" fill="white"/></svg>');
}

.f3_content-side{
    display: flex;
    gap: 1em;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0.5em;
}

.f3_content-locks
{
    display: flex;
    gap: 1em;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}


.f3_label{

    margin-top: 0.2em;
    color:#FFFFFF;
   

}

.wf-fotvco {
    -webkit-box-align: center;
    align-items: center;
    background-color: var(--Checkbox--background-color);
    border-color: var(--Checkbox--border-color);
    border-radius: 2px;
    border-style: solid;
    border-width: var(--controls-border-width);
    color: var(--colors-action-primary-text);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    outline-offset: 2px;
    pointer-events: none;
    position: relative;
    height: 16px;
    width: 16px;
    --Checkbox--border-color: var(--Checkbox--unchecked--border-color);
    --Checkbox--background-color: var(--Checkbox--unchecked--background-color);
}

.wf-fotvco > div {
    display: none;
}

.wf-1w47aue {
    -webkit-box-align: center;
    align-items: center;
    background-color: var(--Checkbox--background-color);
    border-color: var(--Checkbox--border-color);
    border-radius: 2px;
    border-style: solid;
    border-width: var(--controls-border-width);
    color: var(--colors-action-primary-text);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    outline-offset: 2px;
    pointer-events: none;
    position: relative;
    --Checkbox--border-color: transparent;
    height: 16px;
    width: 16px;
    --Checkbox--background-color: var(--colors-action-primary-background);
}
